.mm-tabs-wrapper .tab-item {
    padding: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #ccc;
}

#container {
    margin-top: 130px;
}

.product-content {
    border: 0;
    padding: 0;
}

.product-content .th {
    width: 20%;
    min-width: 75px;
    display: inline-block;
}

.product-pc-title * {
    text-align: left;
}

.add-button {
    width: 80%;
}

.btn {
    box-shadow: none;
    border: none;
    -webkit-appearance: none;
    filter: none;
    text-shadow: none;
    line-height: 50px;
    padding: 0;
}

.add-button button {
    margin: 10px 0;
}

.bx-wrapper .bx-viewport {
    margin-bottom: -10px;
}

.bxslider li {
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    color: inherit!important;
    text-decoration: none!important;
}

@media (max-width: 767px) {
    #container {
        margin-top: 70px;
    }
    #product_index {
        padding: 0px 0 30px;
    }
}


/**  Ã¦â€“Â°class  **/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?55nbd4');
    src: url('../fonts/icomoon.eot?55nbd4#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?55nbd4') format('truetype'), url('../fonts/icomoon.woff?55nbd4') format('woff'), url('../fonts/icomoon.svg?55nbd4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-line:before {
    content: "\e900";
    color: #6dc02d;
}

.icon-icon-youtube:before {
    content: "\e901";
    color: #d22215;
}

.icon-icon-close:before {
    content: "\e902";
    color: #fff;
}


/* 'Ã¯â€šâ€¦' */

.mb {
    display: none;
}

.pc {
    display: inline-block;
}

.poA {
    position: absolute;
}

.f_pink {
    color: #ee4256;
}

.f_red {
    color: #d70b24;
}

.f15 {
    font-size: 15px;
}

.f18 {
    font-size: 18px;
}

.f24 {
    font-size: 24px;
}

.f48 {
    font-size: 48px;
}

.info {
    text-align: left;
    padding-top: 0;
    display: inline-block;
    cursor: pointer;
    transition: all .4s;
}

.t_left {
    text-align: left;
}

.t_right {
    text-align: right;
}

.t_center {
    text-align: center;
}

.f_white {
    color: #fff;
}

.f_black {
    color: #000;
}

.bg_grey {
    background-color: #eeeeee;
}

.bg_pink {
    background: #ee4256;
}

.bg_red {
    background: #d70b24;
}

.W100 {
    width: 100%;
}

.W50 {
    width: 50%;
    display: inline-block;
    float: left;
}

.W1170 {
    width: 100%;
    position: relative;
    max-width: 1170px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-top: 80px;
}

.btn {
    font-size: 16px;
    border: 1px solid #000;
    padding: 15px 80px;
    display: inline-block;
    line-height: 1;
    background: transparent;
    margin: 0 auto;
}

#banner_01 {
    background-image: url(../img/banner_01.jpg);
}

#kv_txt {
    left: 8%;
    z-index: 50;
    top: 50%;
    transform: translate(0, -50%);
}

#kv_txt * {
    margin: 0;
    padding: 0 0 10px;
    /* font-family: 'Open Sans'; */
}

#attention {
    border: 1px solid #ee4356;
    min-height: 100px;
    padding: 30px;
    /* margin-top: -10px; */
    position: relative;
}

#attention h5 {
    background-color: #ee4356;
    color: #fff;
    display: block;
    line-height: 35px;
    padding: 0;
    margin: 0;
}

#attention .close {
    top: 30px;
    right: 30px;
    color: #fff;
    font-family: -webkit-body;
    text-decoration: none;
    opacity: 1;
    font-weight: 100;
    cursor: pointer;
}

#special>div {
    margin-bottom: 15px;
}

#special a {
    display: inline-block;
}

.title {
    font-size: 25px;
    /* font-family: 'Open Sans'; */
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.sub_title {
    display: block;
    width: 100%;
    /* text-align: center; */
    font-size: 14px;
    line-height: 1;
}

#banner {
    padding: 0 25px;
}

.pic {
    height: 100%;
    position: initial;
}

.pic img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translate(-90%, 0);
}

.item_pro {
    text-decoration: none !important;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.item_pro .img_wrapper {
    position: relative;
    margin-bottom: 15px;
}

.item_pro span {
    display: block;
    text-decoration: none;
}

.item_pro img {
    width: 90%;
    margin: 0 5%;
}


/* #main_text .txt{

} */

#product_index .columns-12 {
    margin-bottom: 40px;
}

.product-box {
    padding: 80px 0;
    position: relative;
}

.product-content .des {
    padding: 30px 0 20px;
    border-bottom: 1px solid #dadada;
}

.product-pc-title span {
    line-height: 2;
}

.btn_area {
    margin-top: 10px;
    display: inline-block;
}

font.price {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1px;
}

font.price:before {
    content: "$";
    padding-left: 10px;
}

.info i {
    float: left;
}

.info span {
    border-bottom: 1px solid;
    padding-bottom: 6px;
    margin-left: 5px;
    margin-top: -3px;
    float: left;
}

.info:hover {
    color: #ee4256;
}

.add-button button span {
    position: relative;
    z-index: 15;
}

.add-button button:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    transition: all .4s;
}

.add-button button:hover:before {
    width: 100%;
}

.bg_red:before {
    background-color: #ee4256;
}

.bg_pink:before {
    background-color: #d70b24;
}

#ceo {
    /* padding: 0 10px; */
}

#news {
    padding-top: 60px;
    padding-bottom: 60px;
}

#news h5 {
    text-align: left;
}

#news ul {
    display: inline-block;
    width: 100%;
    margin: 0 auto 20px;
}

#news li {
    line-height: 1.7;
    margin-bottom: 10px;
    position: relative;
}

li .date {
    display: inline-block;
    width: 90px;
    position: absolute;
    left: 0;
    top: 0;
}

li .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    padding-left: 90px;
}

#social {
    padding-bottom: 80px;
}

.svg_font {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 5px 0;
    line-height: 1.2;
}

.svg_font span {
    display: block;
    padding-left: 55px;
}

.svg_font span:first-child {
    line-height: 30px;
}

.svg_font:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

@media (max-width: 1100px) and (min-width: 881px) {
    .svg_font {
        font-size: 30px;
    }
    .svg_font span {
        padding-left: 35px;
    }
}

@media (max-width: 880px) and (min-width: 768px) {
    .svg_font {
        font-size: 20px;
    }
    .svg_font span {
        padding-left: 25px;
        font-size: 14px;
    }
    .svg_font span:first-child {
        display: none;
    }
}

@media (max-width: 767px) {
    [class*=columns-]>[class*=col-] {
        padding: 0 15px;
    }
    .f15 {
        font-size: 14px;
    }
    .f18 {
        font-size: 17px;
    }
    .f24 {
        font-size: 21px;
    }
    .f48 {
        font-size: 37px;
    }
    .title {
        font-size: 21px;
    }
    .ig {
        margin-bottom: 25px;
    }
}

@media (max-width: 414px) {
    .pc {
        display: none;
    }
    .mb {
        display: inline-block;
    }
    section {
        margin-top: 40px;
    }
    [class*=columns-]>[class*=col-] {
        padding: 0 10px;
    }
    .f15 {
        font-size: 12px;
    }
    .f18 {
        font-size: 15px;
    }
    .f24 {
        font-size: 19px;
    }
    .f48 {
        font-size: 31px;
    }
    #banner_01 {
        background-image: url(../img/banner_01_m.jpg);
    }
    #attention {
        padding: 15px 38px 15px 5px;
    }
    #attention .close {
        top: 50%;
        right: 6px;
        transform: translate(0, -50%);
    }
    #news li {
        margin-bottom: 5px;
    }
    .svg_font span {
        padding-left: 38px;
    }
    .svg_font span:first-child {
        line-height: 25px;
    }
}