.mm-tabs-wrapper .tab-item {
    padding: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #ccc;
}

#container {
    margin-top: 130px;
}

.product-content {
    border: 0;
    padding: 0;
}

.product-content .th {
    width: 20%;
    min-width: 75px;
    display: inline-block;
}

.product-pc-title * {
    text-align: left;
}

.add-button {
    width: 80%;
}

.btn {
    box-shadow: none;
    border: none;
    -webkit-appearance: none;
    filter: none;
    text-shadow: none;
    line-height: 50px;
    padding: 0;
}

.add-button button {
    margin: 10px 0;
}

.bx-wrapper .bx-viewport {
    margin-bottom: -10px;
}

.bxslider li {
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    color: inherit!important;
    text-decoration: none!important;
}

@media (max-width: 767px) {
    #container {
        margin-top: 70px;
    }
}


/**  Ã¦â€“Â°class  **/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?55nbd4');
    src: url('../fonts/icomoon.eot?55nbd4#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?55nbd4') format('truetype'), url('../fonts/icomoon.woff?55nbd4') format('woff'), url('../fonts/icomoon.svg?55nbd4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-line:before {
    content: "\e900";
    color: #6dc02d;
}

.icon-icon-youtube:before {
    content: "\e901";
    color: #d22215;
}

.icon-icon-close:before {
    content: "\e902";
    color: #fff;
}


/*  LEE MODIFY */

@font-face {
    font-family: CJK;
    src: url(../fonts/NotoSerifCJKtc-Medium.otf);
}

@font-face {
    font-family: CJK_b;
    src: url(../fonts/NotoSerifCJKtc-Bold.otf);
}

@font-face {
    font-family: CJK_sb;
    src: url(../fonts/NotoSerifCJKtc-SemiBold.otf);
}

.CJK {
    font-family: CJK;
}

.CJK_b {
    font-family: CJK_b;
}

.CJK_sb {
    font-family: CJK_sb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    text-align: inherit;
    font-weight: normal;
}

hr {
    opacity: 0;
    margin: 0;
    width: 100%;
}

.mb,
.pad {
    display: none;
}

.pc {
    display: inline-block;
}

.poA {
    position: absolute;
}

.f_pink {
    color: #ee4256;
}

.f_red {
    color: #d70b24;
}

.f_golden {
    color: #b08534;
}

.f15 {
    font-size: 15px;
}

.f18 {
    font-size: 18px;
}

.f21 {
    font-size: 21px;
}

.f24 {
    font-size: 24px;
}

.f30 {
    font-size: 30px;
}

.f36 {
    font-size: 36px;
}

.f40 {
    font-size: 40px;
}

.f45 {
    font-size: 45px;
}

.f48 {
    font-size: 48px;
}

.f55 {
    font-size: 55px;
}

.f72 {
    font-size: 72px;
}

.info {
    text-align: left;
    padding-top: 0;
    display: inline-block;
    cursor: pointer;
    transition: all .4s;
}

.f_right {
    float: right;
}

.f_left {
    float: left;
}

.t_left {
    text-align: left;
}

.t_right {
    text-align: right;
}

.t_center {
    text-align: center;
}

.f_white {
    color: #fff;
}

.f_black {
    color: #000;
}

.f_b {
    font-weight: bold;
}

.bg_white {
    background-color: #fff;
}

.bg_grey {
    background-color: #eeeeee;
}

.bg_pink {
    background: #ee4256;
}

.bg_red {
    background: #d70b24;
}

.bg_yellow {
    background: #fffbeb;
}

.W100 {
    width: 100%;
}

.W33 {
    width: 33%;
    display: inline-block;
}

.W40 {
    width: 40%;
    display: inline-block;
}

.W50 {
    width: 50%;
    display: inline-block;
}

.W60 {
    width: 60%;
    display: inline-block;
}

.W1200 {
    width: 100%;
    position: relative;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-top: 80px;
}

.btn {
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    margin: 0 auto;
    padding: 16px 0;
}

.btn_black {
    border: 1px solid #000;
    padding: 16px 80px;
    background: transparent;
    display: inline-block;
}

.title {
    font-size: 25px;
    /* font-family: 'Open Sans'; */
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.sub_title {
    display: block;
    width: 100%;
    /* text-align: center; */
    font-size: 14px;
    line-height: 1;
}

.bg_red:before {
    background-color: #ee4256;
}

.bg_pink:before {
    background-color: #d70b24;
}

#ceo {
    /* padding: 0 10px; */
}

@media (max-width: 1024px) {
    [class*=columns-]>[class*=col-] {
        padding: 0 15px;
    }
    .f15 {
        font-size: 14px;
    }
    .f16 {
        font-size: 15px;
    }
    .f18 {
        font-size: 17px;
    }
    .f21 {
        font-size: 19px;
    }
    .f24 {
        font-size: 21px;
    }
    .f30 {
        font-size: 25px;
    }
    .f36 {
        font-size: 29px;
    }
    .f40 {
        font-size: 32px;
    }
    .f45 {
        font-size: 35px;
    }
    .f48 {
        font-size: 38px;
    }
    .f55 {
        font-size: 47px;
    }
    .f72 {
        font-size: 60px;
    }
    .title {
        font-size: 21px;
    }
}

@media (max-width: 768px) {
    .add-button {
        width: 90%;
    }
    .pad {
        display: inline-block;
    }
}

@media (max-width: 414px) {
    .pc {
        display: none;
    }
    .mb {
        display: inline-block;
    }
    .W50,
    .W40,
    .W60 {
        width: 100%;
    }
    section {
        margin-top: 40px;
    }
    [class*=columns-]>[class*=col-] {
        padding: 0 10px;
    }
    .f15 {
        font-size: 13px;
    }
    .f16 {
        font-size: 14px;
    }
    .f18 {
        font-size: 16px;
    }
    .f21 {
        font-size: 17px;
    }
    .f24 {
        font-size: 20px;
    }
    .f30 {
        font-size: 22px;
    }
    .f36 {
        font-size: 25px;
    }
    .f40 {
        font-size: 28px;
    }
    .f45 {
        font-size: 31px;
    }
    .f48 {
        font-size: 33px;
    }
    .f55 {
        font-size: 44px;
    }
    .f72 {
        font-size: 50px;
    }
}