a,
abbr,
acronym,
address,
article,
aside,
audio,
b,
basefont,
bdi,
bdo,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dialog,
dir,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
frame,
frameset,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
map,
mark,
menu,
menuitem,
meter,
nav,
noframes,
noscript,
object,
ol,
output,
p,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
wbr {
    padding: 0;
    border: none;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    color: inherit;
    background-color: transparent
}

article,
aside,
canvas,
command,
datalist,
details,
figcaption,
figure,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

mark,
output {
    display: inline-block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

[hidden],
rp,
template {
    display: none
}

a {
    background: 0 0;
    cursor: pointer
}

a:active,
a:hover {
    outline: 0
}

[disabled] {
    cursor: not-allowed
}

audio:not([controls]) {
    display: none;
    height: 0
}

svg:not(:root) {
    overflow: hidden
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    overflow-y: scroll;
    font-family: sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}

address,
b,
caption,
cite,
code,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
i,
strong,
th,
var {
    font-style: normal;
    font-weight: 400
}

a,
del,
ins,
s {
    text-decoration: none
}

abbr,
acronym {
    font-variant: normal;
    cursor: help
}

abbr[title],
acronym[title] {
    border-bottom: 1px dotted
}

dir,
menu,
ol,
ul {
    list-style: none
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: transparent;
    color: inherit;
    text-align: left;
    font: inherit
}

table,
td,
th {
    table-layout: auto
}

code,
kbd,
pre,
samp,
tt {
    font-size: 1em;
    font-family: monospace, sans-serif
}

:link,
:visited,
a,
address,
cite,
em,
i,
ins,
s,
u,
var {
    font-style: normal;
    text-align: left;
    text-decoration: none
}

blockquote,
caption,
dd,
div,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
td,
th {
    word-wrap: break-word
}

caption,
center,
th {
    font-weight: 400;
    text-align: left
}

listing,
plaintext,
xmp {
    font-family: inherit;
    white-space: normal
}

embed,
img,
object {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: top
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

hr {
    height: 0
}

pre {
    overflow: auto
}

:focus {
    outline: 0
}

button,
datagrid,
input,
isindex,
keygen,
optgroup,
select,
textarea {
    line-height: 1;
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    color: inherit;
    letter-spacing: 0;
    word-spacing: 0
}

input,
select {
    vertical-align: middle
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button {
    overflow: visible
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: none
}

button,
select {
    text-transform: none
}

input[type=checkbox],
input[type=radio] {
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    resize: vertical
}

#_product_list {
    text-align: center;
}

#_product_list>div {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.steps {
    padding: 20px;
    margin-top: 60px;
}

.steps img {
    margin-top: 20px;
}

.day {
    display: inline-block;
    width: 26px;
    height: 14px;
    background-image: url(../img/product/icon/icon-day-small.svg);
    vertical-align: sub;
    margin: 2px 0px 2px 5px;
}

.night {
    display: inline-block;
    width: 8px;
    height: 14px;
    background-image: url(../img/product/icon/icon-night-small.svg);
    margin: 2px 0 1px 5px;
    vertical-align: sub;
}

.product_list {
    margin: 30px auto;
}

.product_list ul {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.product_list li {
    margin: 50px 1% 20px;
    padding: 23px 25px;
    width: 31.33%;
    display: inline-block;
    position: relative;
    background-color: #e5e5e5;
    text-align: center;
    float: left;
}

.product_list .t_left {
    text-align: left;
}

.product_list p {
    margin-bottom: 5px;
}

.product_list p.des {
    margin-bottom: 15px;
    line-height: 1.6;
}

.product_list .en_name {
    border-bottom: 2px solid #dc0922;
    padding-bottom: 10px;
    margin-top: -5px;
}

.product_list img {
    width: 90%;
    max-width: 230px;
    margin: 20px auto 15px;
}

.product_list h5 {
    top: -45px;
    left: 0;
}

p.price .f_red {
    padding-right: 3px;
}

@media (max-width: 1024px) {
    .product_list li {
        margin: 50px 1% 20px;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .product_list li {
        margin: 50px 2% 20px;
        width: 46%;
    }
}

@media (max-width: 414px) {
    #_product_list>div {
        padding-left: 10px;
        padding-right: 10px;
    }
    .product_list li {
        margin: 25px 0 0px;
        width: 100%;
    }
    .product_list h5 {
        top: -35px;
        font-size: 18px;
    }
    .product_list li.first {
        margin-top: 55px;
    }
}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

.banner_m {
    width: 100%;
    height: 48vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 14vw;
}

.banner-list {
    background-image: url(../img/product/list/banner-productlist-m.jpg);
}

.banner_m span {
    display: block;
    margin: auto;
    width: 5vw;
    border-bottom: 1px solid #fff;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

@media (min-width: 769px) {
    .banner_m {
        width: 100%;
        max-width: 1360px;
        height: 26.5vw;
        max-height: 360px;
        margin: 15px auto;
        padding-top: 0;
    }
    .banner_m .banner-txt {
        padding-top: 8%;
    }
    .banner-list {
        background-image: url(../img/product/list/banner-productlist.jpg);
    }
}