#kv_txt {
    left: 8%;
    z-index: 50;
    top: 50%;
    transform: translate(0, -50%);
}

#kv_txt * {
    margin: 0;
    padding: 0 0 10px;
    /* font-family: 'Open Sans'; */
}

#banner_01 {
    background-image: url(../img/banner_01.jpg);
}

#attention {
    border: 1px solid #ee4356;
    min-height: 100px;
    padding: 30px;
    /* margin-top: -10px; */
    position: relative;
}

#attention h5 {
    background-color: #ee4356;
    color: #fff;
    display: block;
    line-height: 35px;
    padding: 0;
    margin: 0;
}

#attention .close {
    top: 30px;
    right: 30px;
    color: #fff;
    font-family: -webkit-body;
    text-decoration: none;
    opacity: 1;
    font-weight: 100;
    cursor: pointer;
}

#special a {
    display: inline-block;
}

#special h5 {
    text-align: center;
}

#product_index .columns-12 {
    margin-bottom: 40px;
}

.product-box {
    padding: 80px 0;
    position: relative;
}

.product-content .des {
    padding: 30px 0 20px;
    border-bottom: 1px solid #dadada;
}

.product-pc-title span {
    line-height: 2;
}

.pic img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translate(-90%, 0);
}

.item_pro {
    text-decoration: none !important;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.item_pro .img_wrapper {
    position: relative;
    margin-bottom: 15px;
}

.item_pro span {
    display: block;
    text-decoration: none;
}

.item_pro img {
    width: 90%;
    margin: 0 5%;
}

#ceo {
    /* padding: 0 10px; */
}

#news {
    padding-top: 60px;
    padding-bottom: 60px;
}

#news h5 {
    text-align: left;
}

#news ul {
    display: inline-block;
    width: 100%;
    margin: 0 auto 20px;
}

#news li {
    line-height: 1.7;
    margin-bottom: 10px;
    position: relative;
}

li .date {
    display: inline-block;
    width: 90px;
    position: absolute;
    left: 0;
    top: 0;
}

li .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    padding-left: 90px;
}

#social {
    padding-bottom: 80px;
}

.svg_font {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 5px 0;
    line-height: 1.2;
    float: left;
}

.svg_font span {
    display: block;
    padding-left: 55px;
}

.svg_font span:first-child {
    line-height: 30px;
}

.svg_font:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

@media (max-width: 1100px) and (min-width: 881px) {
    .svg_font {
        font-size: 30px;
    }
    .svg_font span {
        padding-left: 35px;
    }
}

@media (max-width: 880px) and (min-width: 768px) {
    .svg_font {
        font-size: 20px;
    }
    .svg_font span {
        padding-left: 25px;
        font-size: 14px;
    }
    .svg_font span:first-child {
        display: none;
    }
}

@media (max-width: 767px) {
    #product_index {
        padding: 0px 0 30px;
    }
    .ig {
        margin-bottom: 25px;
    }
}

@media (max-width: 414px) {
    #banner_01 {
        background-image: url(../img/banner_01_m.jpg);
    }
    div#kv_txt {
        top: 15%;
        left: 5%;
    }
    #kv_txt * {
        padding: 0;
    }
    #attention {
        padding: 15px 38px 15px 5px;
    }
    #attention .close {
        top: 50%;
        right: 6px;
        transform: translate(0, -65%);
    }
    #special>div {
        margin-bottom: 15px;
    }
    #news li {
        margin-bottom: 5px;
    }
    .svg_font span {
        padding-left: 38px;
    }
    .svg_font span:first-child {
        line-height: 25px;
    }
    a.W50.svg_font {
        width: 50%;
    }
}