.main-content {
    min-height: 600px;
    padding-bottom: 50px
}

.main-content .section {
    padding: 30px 0 0 0;
}

.main-content .section h1,
.main-content .section h2,
.main-content .section h3,
.main-content .section h4,
.main-content .section h5,
.main-content .section h6,
.main-content .section p {
    font-family: -apple-system, BlinkMacSystemFont, NotoSansCJKtc, "Microsoft JhengHei", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal
}

.banner-qa {
    background-image: url(../img/faq/banner-qa-m.jpg)
}

.banner-regular {
    background-image: url(../img/regular/banner-regular-m.jpg)
}

@media (min-width: 769px) {
    .banner-qa {
        background-image: url(../img/faq/banner-qa.jpg)
    }
    .banner-regular {
        background-image: url(../img/regular/banner-regular.jpg)
    }
}

.banner_m {
    width: 100%;
    height: 48vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 14vw;
    display: inline-block;
}

.banner_m h4,
.banner_m h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff
}

.banner_m h4 {
    font-size: 5vw
}

.banner_m h6 {
    font-size: 4vw
}

.banner_m span {
    display: block;
    margin: auto;
    width: 5vw;
    border-bottom: 1px solid #fff;
    margin-top: 2vw;
    margin-bottom: 1vw
}

@media (min-width: 769px) {
    .banner_m {
        width: 100%;
        max-width: 1360px;
        height: 26.5vw;
        max-height: 360px;
        margin: 15px auto;
        padding-top: 0
    }
    .banner_m .banner-txt {
        padding-top: 8%
    }
    .banner_m h4 {
        font-size: 1.8rem
    }
    .banner_m h6 {
        font-size: 1.3rem
    }
    .banner_m span {
        width: 50px;
        border-bottom: 2px solid #fff;
        margin-top: 15px;
        margin-bottom: 17px
    }
}

.qa-tab-content {
    font-family: -apple-system, BlinkMacSystemFont, NotoSansCJKtc, "Microsoft JhengHei", sans-serif;
    font-weight: normal;
    padding: 20px;
    border: none
}

.qa-tab-content h1 {
    font-weight: 600
}

.qa-title {
    font-size: 1.2rem;
    color: #d70146;
    border-bottom: 1px solid #efefef;
    padding-bottom: 25px;
    margin-bottom: 0
}

.qa-card {
    padding: 0 0 0 30px;
    border-bottom: 1px solid #efefef
}

.qa-card .qa-card-title {
    font-size: 1rem;
    padding: 17px 0;
    padding-right: 20px;
    margin-right: 5px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer
}

.qa-card .qa-card-title::before {
    content: "";
    width: 17px;
    height: 22px;
    top: 15px;
    left: -25px;
    background-image: url(../img/faq/q.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute
}

.qa-card .qa-card-txt {
    font-size: 0.96rem;
    line-height: 1.4rem;
    position: relative;
    padding-right: 20px;
    padding-bottom: 17px;
    display: none
}

.qa-card .qa-card-txt span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px
}

.qa-card .qa-card-txt::before {
    content: "";
    width: 15px;
    height: 17px;
    top: 0;
    left: -25px;
    background-image: url(../img/faq/a.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute
}

.qa-open {
    background-image: url(../img/faq/icon-off.png)
}

.qa-close {
    background-image: url(../img/faq/icon-open.png)
}

@media (min-width: 769px) {
    .qa-col-12 {
        max-width: 1166px;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .qa-col-12 .col-3 {
        width: 25%;
        min-width: 260px
    }
    .qa-col-12 .col-9 {
        width: 75%
    }
}

.qa-list-screen {
    margin-top: 35px
}

.qa-list-screen li {
    width: 100%;
    height: 50px
}

.qa-list-screen li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-decoration: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
    padding: 10px 20px
}

.qa-list-screen li a div {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    opacity: 0.1
}

.qa-list-screen li a div img {
    width: 100%;
    height: auto
}

.qa-list-screen li a p {
    color: #666 !important;
    line-height: 30px
}

.qa-list-screen li a:focus-within,
.qa-list-screen li a:active,
.qa-list-screen li a:focus {
    background-color: #f1f1f1;
    color: #000 !important
}

.qa-list-screen li a:focus-within div,
.qa-list-screen li a:active div,
.qa-list-screen li a:focus div {
    opacity: 1
}

.qa-list-screen li a:hover {
    background-color: #f1f1f1
}

.qa-list-screen li a:hover div {
    opacity: 1
}

.bg-color-gray {
    background-color: #f5f5f5
}

.regular-reason h1 {
    /* font-size: 1.1rem; */
    margin-bottom: 0;
    padding-bottom: 2px
}

.regular-reason h6 {
    /* font-size: 0.96rem; */
    margin-top: 0;
    padding-top: 0;
    color: #d70146;
}

.regular-reason .reason-pic {
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: auto
}

.benefit {
    max-width: 1166px;
    margin: auto;
    padding: 10px 0
}

.benefit .product-pic {
    width: 50%;
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto
}

.benefit .product-pic img {
    width: 100%
}

.benefit .product-regular-txt {
    padding: 0 5%
}

.benefit .product-regular-txt p {
    /* font-size: 14px; */
}

.benefit .product-regular-txt .txt-product-price {
    max-width: 345px;
    margin: auto
}

.benefit .product-regular-txt .txt-product-price img {
    width: 100%;
    margin-bottom: 15px
}

@media (min-width: 769px) {
    .benefit {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .benefit .product-pic {
        width: 20%;
        max-width: 150px;
        margin: 30px 5% 30px 5%
    }
    .benefit .product-pic img {
        width: 100%;
        height: auto
    }
    .benefit .product-regular-txt {
        width: 50%;
        padding: 0
    }
    .benefit .product-regular-txt p {
        text-align: left
    }
    .benefit .product-regular-txt .txt-product-price {
        margin: 0;
        max-width: 100%
    }
    .benefit .product-regular-txt .txt-product-price img {
        width: 100%
    }
}

.benefit {
    position: relative;
    margin-top: 30px;
}

.benefit::before {
    content: "";
    width: 180px;
    height: 180px;
    position: absolute;
    background-image: url(../img/regular/95percent.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

@media (max-width: 768px) {
    .benefit::before {
        top: -90px;
        left: calc(50% - 90px)
    }
}

@media (min-width: 769px) {
    .benefit::before {
        top: 45px;
        left: 80%;
        width: 15vw;
        height: 15vw;
        max-width: 180px;
        max-height: 180px
    }
}

.benefit2 {
    padding: 30px 20px 40px 20px;
    max-width: 1166px;
    margin: auto
}

.benefit2 li {
    margin-bottom: 20px;
    text-align: center
}

.regular-cycle-step {
    padding: 0 30px;
}

@media (min-width: 769px) {
    .benefit2 {
        width: 100%;
        max-width: 1166px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .benefit2 li {
        width: 350px
    }
}

.regular-cycle {
    padding: 20px 5%
}

@media (min-width: 769px) {
    .regular-cycle {
        max-width: 1200px;
        margin: auto;
        padding: 30px 0 50px 0;
    }
}

.regular-cycle h4 {
    margin: 0 auto 12px;
    padding: 0;
    color: #d70146;
    font-weight: bold !important
}

.regular-cycle p {
    text-align: center;
    /* font-size: 15px; */
    margin-bottom: 0.6rem
}

.regular-cycle p span {
    font-size: 14px;
}

.regular-cycle-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px auto;
    width: 100%;
    padding: 0 30px;
    position: relative;
}

.regular-cycle-product li {
    width: 50%;
}

.regular-cycle-product li:nth-child(2) {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.regular-cycle-product li div {
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}

.regular-cycle-product li div img {
    width: 33%;
    margin-bottom: 15px;
}

.regular-cycle-product li p span {
    /* font-size: 12px */
}

.first-time,
.second-time {
    /* max-width: 550px; */
    margin: auto;
}

.regular-cycle-step {
    padding: 0 30px;
}

@media (min-width: 769px) {
    .first-time,
    .second-time {
        width: 48%;
        margin: 0 1%;
    }
}

.first-time h6,
.second-time h6 {
    color: #d70146;
    /* font-size: 12px; */
    font-weight: bold !important;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #d70146;
}

@media (min-width: 769px) {
    .regular-cycle-step {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
}

.cycle-step-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 19px;
    border-bottom: 1px solid #e2e2e2;
}

@media (min-width: 769px) {
    .cycle-step-flex {
        height: 145px;
    }
}

.cycle-step-flex li {
    width: 27%
}

.cycle-step-flex li:nth-child(2),
.cycle-step-flex li:nth-child(4) {
    width: 9.5%;
    text-align: center
}

.cycle-step-flex li div {
    width: 50px;
    height: 50px;
    margin: 15px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.cycle-step-flex li p {
    /* font-size: 12px */
}

.cycle-step-flex li p span {
    color: #d70146;
    font-weight: bold
}

.recommend {
    padding: 60px 20px 20px 20px;
    margin: 0 auto
}

.recommend h3 {
    font-size: 1.1rem;
    margin-bottom: 0;
    padding-bottom: 2px
}

.recommend .hot-product li {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: auto;
    border-bottom: 1px solid #dfdfdf;
    position: relative
}

@media (max-width: 740px) {
    .recommend .hot-product li {
        max-width: 370px
    }
    .recommend .hot-product li.hot-product-hr {
        display: none
    }
}

@media (min-width: 741px) {
    .recommend .hot-product li {
        padding-right: 20px;
        padding-left: 20px;
        border-bottom: 0
    }
}

.recommend .hot-product li:last-child {
    border: 0
}

.recommend .hot-product li .product-btn {
    display: block;
    width: 43vw;
    height: 10vw;
    background-color: #d70146;
    border: 0;
    position: absolute;
    bottom: 30px;
    right: 5%;
    color: #fff !important;
    text-decoration: none !important;
    text-align: center;
    line-height: 1
}

.recommend .hot-product li .product-btn:hover,
.recommend .hot-product li .product-btn:active {
    background-color: #a7071a
}

.recommend .hot-product li .product-btn span {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

@media (max-width: 740px) {
    .recommend .hot-product li .product-btn {
        max-width: 175px;
        max-height: 45px
    }
}

@media (min-width: 741px) {
    .recommend .hot-product li .product-btn {
        width: 37%;
        height: 18%;
        bottom: 30px;
        right: 15%;
        line-height: 0.8
    }
}

@media (min-width: 741px) {
    .recommend .hot-product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 960px;
        margin: auto
    }
    .recommend .hot-product li {
        width: 50%
    }
    .recommend .hot-product li:nth-child(1),
    .recommend .hot-product li:nth-child(4) {
        position: relative
    }
    .recommend .hot-product li:nth-child(1)::after,
    .recommend .hot-product li:nth-child(4)::after {
        content: "";
        width: 1px;
        height: 166px;
        background-color: #dfdfdf;
        position: absolute;
        top: calc(50% - 84px);
        right: 0
    }
    .recommend .hot-product li.hot-product-hr {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #dfdfdf;
        padding: 0
    }
}

.only-for-mem {
    padding: 0 20px
}

@media (min-width: 769px) {
    .only-for-mem {
        max-width: 1166px;
        margin: 0 auto;
        padding: 0
    }
}

.only-for-mem-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ee4256;
    border: 1px solid #ee4256
}

.only-for-mem-flexbox .only-for-mem-pic {
    width: 55%
}

.only-for-mem-flexbox .only-for-mem-txt {
    width: 45%
}

.free-contact {
    padding: 0 20px
}

@media (min-width: 769px) {
    .free-contact {
        max-width: 1166px;
        margin: 0 auto;
        padding: 0
    }
}

.free-contact-txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.free-contact-txt div:first-child {
    width: 35%;
    padding-right: 15px
}

.free-contact-txt div:first-child img {
    width: 100%
}

.free-contact-txt div:last-child {
    /* width: 70% */
}

.free-contact-txt p b {
    font-size: 1.2rem
}

.free-contact-txt p {
    font-size: 14px
}

@media (min-width: 769px) {
    .free-contact-txt {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .free-contact-txt div:first-child {
        width: 100px;
        margin-right: 50px
    }
    .free-contact-txt div:first-child img {
        width: 100%
    }
    .free-contact-txt p {
        margin: 0
    }
}

.free-contact-call {
    margin: 20px 0;
    padding-left: 33%
}

.free-contact-call p {
    font-size: 12px
}

.free-contact-call p a {
    text-decoration: none !important
}

.free-contact-call p span {
    font-size: 1.5rem;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/regular/icon-phone-red.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-right: 5px
}

.free-contact-call p b {
    font-size: 1.2rem;
    color: #d70146;
}

@media (min-width: 769px) {
    .free-contact-call p {
        font-size: 14px
    }
    .free-contact-call p b {
        font-size: 1.8rem
    }
    .free-contact-call p span {
        font-size: 1.8rem;
        width: 1.8rem;
        height: 1.8rem;
        background-size: 70%
    }
}

@media (min-width: 769px) {
    .free-contact-call {
        position: relative
    }
    .free-contact-call::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 80px;
        top: -5px;
        left: 0;
        background-color: #efefef
    }
}

.free-contact-card {
    border: 1px solid #cbd0d6;
    margin: 50px auto;
    padding: 30px 10px
}

@media (min-width: 769px) {
    .free-contact-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 45px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .free-contact-card .free-contact-txt {
        width: 60%
    }
    .free-contact-card .free-contact-call {
        width: 34%;
        margin: 0;
        padding-left: 0
    }
    .free-contact-card .free-contact-call p {
        /* text-align: center; */
        padding-left: 40px;
    }
}

.qa-list-phone {
    background-color: #f1f1f1;
    padding: 15px
}

ul.cus-ul-select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    padding: 0
}

ul.cus-ul-select li {
    display: none;
    padding: 0.5rem 0.8rem 0.5rem 1.2rem;
    background-color: #fff;
    max-width: 768px;
    margin: auto
}

ul.cus-ul-select li.active {
    max-width: 768px;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    color: #111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

ul.cus-ul-select li a {
    text-decoration: none !important;
    color: #111 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

ul.cus-ul-select li div {
    width: 30px;
    text-align: center;
    margin-right: 10px
}

ul.cus-ul-select li span {
    margin-right: 0.3rem;
    width: 34px;
    height: auto;
    text-align: center
}

ul.cus-ul-select.active {
    border: 1px solid #aaa;
    max-width: 768px;
    margin: auto
}

ul.cus-ul-select.active li {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block
}

ul.cus-ul-select.active li.active {
    background: #fff
}

#selected--cus-ul-select {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #111;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1rem;
    width: auto
}

#selected--cus-ul-select.active {
    background-color: #fff;
    padding: 0.5rem 0.8rem 0.5rem 1.2rem;
    max-width: 768px;
    margin: auto
}

#selected--cus-ul-select.active a {
    text-decoration: none !important;
    color: #111 !important
}

a:link:hover,
a[href]:hover {
    text-decoration: none !important
}

.no-border {
    border: none !important
}

@media (min-width: 769px) {
    .hide_screen {
        display: none
    }
}

@media (max-width: 768px) {
    .hide_phone {
        display: none
    }
    .mt-50-phone {
        margin-top: 50px
    }
    .mt-70-phone {
        margin-top: 70px
    }
    .mb-30-phone {
        margin-bottom: 30px !important
    }
    .mb-80-phone {
        margin-bottom: 80px !important
    }
}

.mt-10 {
    margin-top: 10px
}

.mb-30 {
    margin-bottom: 30px
}

.pt-1 {
    padding-top: 1rem
}

.font-bold {
    font-weight: bold !important
}

.mar-auto {
    margin-left: auto;
    margin-right: auto
}

.w-100 {
    width: 100%
}

.d-inline {
    display: inline !important
}

.note-sm {
    display: inline !important;
    font-size: 0.1rem;
    vertical-align: super
}