@charset "utf-8";



/************************************************

 共通設定

************************************************ */

body {
    color: #666;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    background-color: #fff;
    font-size: 72.5%;
    line-height: 150%;
    /*letter-spacing: 0.1em;*/

}


a:hover img{
opacity:0.6;

filter:alpha(opacity=60);

-ms-filter: "alpha( opacity=60 )";

background:none!important;
}


select {
    border: solid 1px #ccc;
}








/* ==============================================

 フレーム

=============================================== */

/* 全体を包括 */

.frame_outer {
    margin: 0 auto;
    width: 100%;
    /*text-align: center;*/

}



/* コンテンツ */

#container {
    margin: 0 auto;
    padding: 0 0 30px 0;
    /*width: 980px;*/
    background: #fff;
    text-align: left;
}





/* ==============================================

 カラム指定

=============================================== */

/* ヘッダーとフッターの上下

[注意]ブロック移動時はbloc.css内で調整が必要 */

#topcolumn,

#bottomcolumn,

#footerbottomcolumn {
    margin: 0 auto;
    padding: 15px;
    width: 950px;
    background: #fff;
    text-align: left;
}



/* 中央カラム */

.main_column {
    padding-bottom: 20px;
}



/* メインイメージ */

#bnr_top_main {
    width: 100%;
}



/* ブランドコンセプトイメージ */

#brd_main ,#yrkb_main ,#qa_main {
    width: 650px;
}

.img_sensei {
    float: right;
    border: 1px solid #d2d2d2;
}

#main_brand {
    background: url("../img/background/bg_brandconcept.jpg") center -113px no-repeat;/*20160229 mod @Hel*/
    width: 650px;
    height: 3850px;
    padding-top: 5px;
}

#brand_conts_link {
    margin-top: 15px;
}

#brand_conts1 {
    padding: 298px 0px 0px 8px;
    text-align: justify;
}

#brand_conts2 {
    height: 101px;
}

#brand_conts2 img {
    margin-top: 28px;
}

#brand_conts4 {
    height: 360px;
    padding: 463px 352px 0 5px;
}

#brand_conts5 {
    height: 370px;
    padding: 100px 0 0 5px;
}

#brand_conts6 {
    height: 283px;
    padding: 140px 0 0 5px;
}

#brand_conts7 {
    padding-top: 1350px;
}

#main_brand p {
    font-size: 15px;
    font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", serif;
    line-height: 26px;
}

#comment_brand p {
    color: #000;
    font-size: 16px;
    padding: 8px 0;
}

#comment_brand_r p {
    font-size: 15px;
}


/* ランディングページコンテンツ */
#container_lp {
    width: 1000px;
    margin: 0 auto;
}

#lp_conts1 {
    background: url("../img/background/lp_01.jpg") no-repeat ;
    height: 781px;
}

#lp_conts1 img {
    margin-top: 492px;
    margin-left: 604px;
}

#lp_conts2 {
    background: url("../img/background/lp_07.jpg") no-repeat ;
    height: 764px;
}

#lp_conts2 img {
    margin-top: 524px;
    margin-left: 605px;
}

#lp_conts3 {
    background: url("../img/background/lp_14.jpg") no-repeat ;
    height: 428px;
}

#lp_conts3 img {
    margin-top: 200px;
    margin-left: 598px;
}

#lp_movie {
    background: url("../img/background/lp_16.jpg") no-repeat ;
    height: 610px;
}

#lp_movie embed {
    margin-top: 200px;
}

#lp_conts4 {
    background: url("../img/background/lp_17.jpg") no-repeat ;
    height: 434px;
}

#lp_conts4 img {
    margin-top: 200px;
    margin-left: 600px;
}

/* ランディングページ（キャンペーン）コンテンツ */
#cp_conts1 {
    background: url("../img/background/cp_01.jpg") no-repeat ;
    height: 873px;
}

#cp_conts1 img {
    margin-top: 638px;
    margin-left: 646px;
}

#cp_conts2 {
    background: url("../img/background/cp_07.jpg") no-repeat ;
    height: 764px;
}

#cp_conts2 img {
    margin-top: 528px;
    margin-left: 626px;
}

#cp_conts3 {
    background: url("../img/background/cp_14.jpg") no-repeat ;
    height: 483px;
}

#cp_conts3 img {
    margin-top: 220px;
    margin-left: 624px;
}


/* サイドカラム */

#leftcolumn {
    float: left;
    width: 20%;
}

#rightcolumn {
    float: right;
    width: auto;
    padding-top: 20px;
}



/* 1カラム設定 */

#one_maincolumn {
    margin: 0 auto;
}



/* 2カラム設定 (メイン部が左) */

#two_maincolumn_left {
    padding-right: 10px;
    float: left;
    width: 650px;
}



/* 2カラム設定 (メイン部が右) */

#two_maincolumn_right {
    padding-right: 1.5%;
    width: 78%;
    float: right;
}



/* 3カラム設定 */

#three_maincolumn {
    padding-left: 0.5%;
    width: 59%;
    float: left;
}



/* 下層コンテンツ */

#undercolumn {
    width: 100%;
    /*margin: 20px 0 30px 0;*/

}

/*美容家コンテンツ*/

#main_beauty {
    background: url("../img/common/beauty_01.jpg") no-repeat ;
    height: 1378px;
    margin-top: 20px;
}

.beauty_text1 {
    padding: 640px 8px 0 10px;
    font-size: 16px;
    line-height: 21px;
}

.beauty_text2 {
    padding: 375px 8px 0 10px;
    font-size: 16px;
    line-height: 21px;
}

.beauty_text3 {
    padding-top: 50px;
    padding-right: 10px;
    font-size: 14px;
    text-align: right;
}

/*お喜びの声コンテンツ*/
#main_yorokobi {
    background: url("../img/background/yorokobi.jpg") no-repeat ;
    height: 1975px;
    margin-top: 20px;
}

.yorokobi_text1 {
    padding: 505px 8px 0 10px;
    font-size: 16px;
    line-height: 27px;
}

.yorokobi_text2 {
    padding: 230px 8px 0 260px;
    font-size: 16px;
    line-height: 27px;
}

.yorokobi_text3 {
    padding: 255px 8px 0 10px;
    font-size: 16px;
    line-height: 27px;
}

.yorokobi_text4 {
    padding: 270px 8px 0 260px;
    font-size: 16px;
    line-height: 27px;
}

.yorokobi_text5 {
    padding-top: 140px;
    font-size: 14px;
    text-align: right;
}

p.yorokobi_name {
    color: #A52B2A;
}

/*Q&Aコンテンツ*/

#main_qanda {
    /*height: 6034px;*/
    margin-top: 20px;
    color: #000;
}

#qa_link {
    font-size: 16px;
    margin: 20px 30px 30px 30px;
    line-height: 21px;
}

#qa_link ul li {
    margin: 6px 0;
}

#qa_link ul a {
    color: #A52B2A;
    text-decoration: underline;
}

.ul_qa_link {
    margin-left: 15px;
}

.span_qa_link {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 10px 0 5px 10px;
}

#qa_text {
    font-size: 16px;
    margin: 0 30px;
}

#qa_text img {
    float: right;
}

#qa_text_q {
    font-size: 16px;
    color:#a52b2a;
    margin-bottom: 8px;
}

#qa_text1 {
    margin-top: 152px;
    padding-bottom: 10px;
    border-bottom: 1px #ddd solid;
}

#qa_text2 ,#qa_text3 ,#qa_text4 ,#qa_text5 ,#qa_text6 ,#qa_text7 ,#qa_text8 ,#qa_text9 ,#qa_text10 ,
#qa_text11 ,#qa_text12 ,#qa_text13 ,#qa_text14 ,#qa_text15 ,#qa_text16 ,#qa_text17 ,#qa_text18 ,
#qa_text19 ,#qa_text20 ,#qa_text21 ,#qa_text22 ,#qa_text23 ,#qa_text24 ,#qa_text25 ,#qa_text26 ,
#qa_text27 ,#qa_text28 ,#qa_text29 ,#qa_text30 ,#qa_text31 
{
    padding-top: 22px;
    padding-bottom: 10px;
    border-bottom: 1px #ddd solid;
}

#qa_text18 {
    padding-top: 22px;
}

.link_top {
    position: relative;
    right: 0;
    bottom: 0;
    height: 60px;
}

.link_top img {
    position: absolute;
    bottom: 0;
    right: 0;
}


/*cncelpolicyコンテンツ*/
#cancelpolicy_text {
    font-size: 15px;
    margin-bottom: 10px;
}

/*Washコンテンツ*/

#main_wash {
    background: url("../img/banner/wash.jpg") no-repeat;
    height: 2887px;
}

.wash_text1 {
padding: 280px 8px 0 10px;
font-size: 16px;
line-height: 21px;
}

.wash_text2 {
padding: 161px 8px 0 10px;
font-size: 16px;
line-height: 21px;
}

.wash_text3 {
padding: 440px 8px 0 285px;
font-size: 16px;
line-height: 21px;
}

.wash_text4 {
padding: 180px 8px 0 285px;
font-size: 16px;
line-height: 21px;
}

.wash_text5 {
padding: 256px 8px 0 10px;
font-size: 16px;
line-height: 21px;
}

.wash_text6 {
padding: 342px 8px 0 261px;
font-size: 16px;
line-height: 21px;
}

.wash_text7 {
padding: 546px 22px 0 22px;
font-size: 16px;
line-height: 25px;
}

.wash_text8 {
padding: 30px 22px 0 22px;
font-size: 16px;
line-height: 25px;
}

p.age {
text-align: right;
font-size: 12px;
}

.wash_link_img {
text-align: center;
padding-top: 60px;
}

/*動画コンテンツ*/

#main_movie {
    padding-top: 20px;
}

#main_movie h2{
    text-indent: 47px;
    font-size: 23px;
    font-style: italic;
    font-family: Times New Roman;
}

.movie_conts {
    text-align: center;
}


/*動画コンテンツ*/
#sitemap_conts table {
    margin: 5px auto 5px auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

/*漫画コンテンツ*/
#main_manga {
    width: 720px;
}

#manga_close {
    text-align: right;
}

/*商品一覧*/
.page_list1 {
    text-align: center;
    margin-bottom: 20px;
}

.page_list2 {
    text-align: center;
}

.list_conts {
    margin: 60px 0 15px 0;
}

.navi {
    text-align: center;
}

.navi a {
    color: #000 !important;
    text-decoration: underline !important;
    margin: 0 3px;
}

.navi strong {
    background: #000;
    color: #fff !important;
    width: 17px;
    margin: 0 3px;
}


/* ==============================================

 ユーティリティ

=============================================== */

/* フロート回り込み解除

----------------------------------------------- */

.clearfix:after {
    display: block;
    clear: both;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
    content: ".";
}

.clearfix:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}

.clearfix {
    display: block; /* for IE8 */

}

.clear {
    clear: both;
}


/* リンク指定

----------------------------------------------- */

a:link,

a:visited {
    /*color: #39c;*/
    text-decoration: none;
}

a:link:hover,

a[href]:hover {
    color: #ccc;
    text-decoration: underline;
}





/* フォント

----------------------------------------------- */

h1,

h2,

h3,

h4,

h5 {
    font-size: 100%;
    line-height: 150%;
}

.sale_price {
    color: #d70146;
}

.normal_price {
    font-size: 90%;
}

.point {
    color: #d70146;
    font-weight: bold;
}

.user_name {
    font-weight: bold;
}

.recommend_level {
    color: #ecbd00;
}



.attention {
    color: #d70146;
}

.attentionSt {
    color: #d70146;
    font-weight: bold;
}

.st {
    font-weight: bold;
}

.mini {
    font-size: 90%;
}





/* 行揃え

----------------------------------------------- */

.alignC {
    text-align: center;
}

.alignR {
    text-align: right;
}

.alignL {
    text-align: left;
}

.pricetd em {
    font-weight: bold;
}


/* フォーム
----------------------------------------------- */
input[type='text'],
input[type='password'],
.select {
    border: solid 1px #ccc;
}

.box40 {
    width: 40px;
}

.box60 {
    width: 60px;
}

.box100 {
    width: 100px;
}

.box120 {
    width: 120px;
}

.box140 {
    width: 140px;
}

.box145 {
    width: 145px;
}

.box150 {
    width: 150px;
}

.box240 {
    width: 240px;
}

.box300 {
    width: 300px;
    max-width: 100%;
}

.box320 {
    width: 320px;
}

.box350 {
    width: 350px;
}

.box380 {
    width: 380px;
}



/* フォームが縦に重なり合う場合に併用する余白 */

.top {
    margin-bottom: 5px;
}
.ng_top {
    margin-bottom: 0 !important;
}

/* タイトル

----------------------------------------------- */

h2.title {
    margin-bottom: 10px;
    padding: 0px;
    background-color: #f79915;
    /*border-top: solid 1px #ebeced;*/
	height:40px;
	line-height:45px;
	padding-left:5px;

    color: #FCFCFC;

    /*background-color: #fef3d8;*/
    font-size: 170%;
}



#one_maincolumn .sub_area h3,

#two_maincolumn_right .sub_area h3,

#two_maincolumn_left .sub_area h3,

#three_maincolumn .sub_area h3,

#undercolumn_login .login_area h3,

#undercolumn_shopping h3,

#mypagecolumn h3,

#undercolumn_cart h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 10px;
    font-size: 120%;
}



div#undercolumn_login .login_area h4 {
    padding-left: 15px;
    background: url("../img/icon/ico_arrow_05.gif") no-repeat left;
}





/* ==============================================

 ヘッダー

=============================================== */

/* レイアウト

----------------------------------------------- */

#header_wrap {
    border-top: solid 3px #EEE;
    height: 145px;
    background:  #fff;
}

#header {
    margin: auto;
    width: 980px;
}

#logo_area {
    padding-left: 10px;
    float: left;
    width: 390px;
    text-align: left;
    margin-top: 16px;
}



#header_utility {
    float: right;
    width: 580px;
}



.span_cart {
    display: block;
    text-align: right;
    margin-right: 5px;
}



#errorHeader {
    color: #d70146;
    font-weight: bold;
    font-size: 12px;
    background-color: #FEB;
    text-align: center;
    padding: 5px;
}



/* ロゴ

----------------------------------------------- */

#site_description {
    font-size: 90%;
}

#logo_area h1 {
    width: 378px;
    height: 33px;
}

#logo_area h1 span {
    display: none; /* テキストロゴ非表示 */

}





/* ヘッダーナビ

----------------------------------------------- */

div#header_navi {
    float: right;
    width: 530px;
    height: 38px;
    padding-top: 20px;
}

div#header_navi ul li {
    display: block;
    float: left;
}

div#header_navi ul li.call_number {
    font-size: 14px;
    margin: 12px;
}

li.entry img {
    padding-left: 9px;
}

div#header_navi ul li.mypage,

div#header_navi ul li.entry {
    margin-top: 6px;
}



.mypage {
    margin-right: 5px;
}



.ul_navi {
    float: right;
}



/* メニュー

----------------------------------------------- */

#menu ul {

	top: 88px;

	position: absolute;
}



#menu li {

	float: left;
}



/* ==============================================

 フッター

=============================================== */

#footer_wrap {
    margin: 0 auto;
    width: 980px;
    height: 80px;
    background: #fff;
    clear: both;
}

#footer {
    margin: auto;
    padding: 10px 0;
    border-top: solid 1px #ccc;
    background: #000;
    color: #fff;
}

#footer a {
    color: #fff;
}

#footer_list li{
    float: left;
}

#footer_list {
    font-size: 15px;
    width: 380px;
    margin: 0 auto;
}

#copyright {
    width: 980px;
    float: left;
    text-align: center;
    font-size: 97%;
    padding: 0 0 10px 0;
}





/* ==============================================

 パーツ

=============================================== */

/* ボタン

----------------------------------------------- */

.btn_area {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}



.btn_area li {
    padding-right: 10px;
    display: inline;
}


.detail_btn {
    position: relative;
    height: 52px;
}

.detail_btn img {
    position: absolute;
    right: 0;
    bottom: 0;
}

#goods_title {
    height: 67px;
    background: url('../img/background/bg_goods_title.jpg') no-repeat ;
}

#goods_title h2 {
    font-size: 20px;
    padding-top: 18px;
}

/* 完了メッセージ

----------------------------------------------- */

div#complete_area {
    margin-bottom: 20px;
}

div#complete_area .message,

div#undercolumn_entry .message {
/* 
    margin-bottom: 20px;
    line-height: 150%;
    font-weight: bold;
    font-size: 120%; */

}


div#complete_area .shop_information {
    margin-top: 40px;
    padding: 20px 0 0 0;
    border-top: solid 1px #ccc;
}

div#complete_area .shop_information .name {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 140%;
}





/* Tipsy

----------------------------------------------- */

.tipsy {
    padding: 5px;
    font-size: 10px;
    position: absolute;
    z-index: 100000;
}

.tipsy-inner {
    padding: 5px 8px 4px 8px;
    background-color: black;
    color: white;
    max-width: 200px;
    text-align: center;
}

.tipsy-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tipsy-arrow {
    position: absolute;
    background: url('../img/ajax/tipsy.gif') no-repeat top left;
    width: 9px;
    height: 5px;
}

.tipsy-n .tipsy-arrow {
    top: 0;
    left: 50%;
    margin-left: -4px;
}

.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px;
}

.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px;
}

.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    background-position: bottom left;
}

.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    background-position: bottom left;
}

.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    background-position: bottom left;
}

.tipsy-e .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    right: 0;
    width: 5px;
    height: 9px;
    background-position: top right;
}

.tipsy-w .tipsy-arrow {
    top: 50%;
    margin-top: -4px;
    left: 0;
    width: 5px;
    height: 9px;
}


/* Now Loading */
.nowloading-spinner {
    margin: 40px 50px 40px 40px;
    font-size: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: nowloading-spin 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
@-webkit-keyframes nowloading-spin {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}
@keyframes nowloading-spin {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}
