.mm-tabs-wrapper .tab-item {
  padding: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ccc;
}

.product-content {
  border: 0;
  padding: 0;
}

.product-content .th {
  width: 20%;
  min-width: 75px;
  display: inline-block;
}

.forget input[type="text"],
.forget select {
  -webkit-appearance: none;
  border: #aaa solid 1px;
  height: 36px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 0;
}
.product-pc-title * {
  text-align: left;
}

.bx-wrapper .bx-viewport {
  margin-bottom: -10px;
}

.bx-viewport {
  height: inherit;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media (max-width: 767px) {
  #container {
    margin-top: 70px;
  }
}

/**  ÃƒÂ¦Ã¢â‚¬â€œÃ‚Â°class  **/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?55nbd4");
  src: url("../fonts/icomoon.eot?55nbd4#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?55nbd4") format("truetype"),
    url("../fonts/icomoon.woff?55nbd4") format("woff"),
    url("../fonts/icomoon.svg?55nbd4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-line:before {
  content: "\e900";
  color: #6dc02d;
}

.icon-icon-youtube:before {
  content: "\e901";
  color: #d22215;
}

.icon-icon-close:before {
  content: "\e902";
  color: #fff;
}

.nav-screen {
  z-index: 150;
}

/*  LEE MODIFY */

@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:500,600,700");

/* @font-face {
    font-family: 'Noto Serif TC';
    src: url(../fonts/NotoSerifCJKtc-Medium.otf);
}

@font-face {
    font-family: 'Noto Serif TC';
    src: url(../fonts/NotoSerifCJKtc-Bold.otf);
}

@font-face {
    font-family: 'Noto Serif TC';
    src: url(../fonts/NotoSerifCJKtc-SemiBold.otf);
} */

.CJK {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
}

.CJK_b {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
}

.CJK_sb {
  font-family: "Noto Serif TC", serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  /* text-align: inherit; */
  font-weight: normal;
}

b {
  font-weight: 700;
}

hr {
  opacity: 0;
  margin: 0;
  width: 100%;
}

.mb,
.pad {
  display: none;
}

.pc {
  display: inline-block;
}

.poA {
  position: absolute;
}

.f_pink {
  color: #ff4672;
}

.f_red {
  color: #d70146 !important;
}

.f_golden {
  color: #b08534;
}

.f_white {
  color: #fff !important;
}

.f_black {
  color: #000;
}

.f_grey {
  color: #555;
}

.f_l_pink {
  color: #ff4672;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f15 {
  font-size: 15px;
}

.f18 {
  font-size: 18px;
}

.f21 {
  font-size: 21px;
}

.f24 {
  font-size: 24px;
}

.f30 {
  font-size: 30px;
}

.f36 {
  font-size: 36px;
}

.f40 {
  font-size: 40px;
}

.f45 {
  font-size: 45px;
}

.f48 {
  font-size: 48px;
}

.f55 {
  font-size: 55px;
}

.f60 {
  font-size: 60px;
}

.f72 {
  font-size: 72px;
}

.info {
  text-align: left;
  padding-top: 0;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s;
}

.f_right {
  float: right;
}

.f_left {
  float: left;
}

.t_left {
  text-align: left;
}

.t_right {
  text-align: right;
}

.t_center {
  text-align: center;
}

.f_b {
  font-weight: bold;
}

.bg_white {
  background-color: #fff;
}

.bg_grey {
  background-color: #eeeeee;
}

.bg_blue {
  background-color: #daf0fe;
}

.bg_pink {
  background: #ee3d76;
}

.bg_l_pink {
  background: #fbeff3;
}

.bg_red {
  background: #d70146;
}

.bg_gold {
  background-color: #cc9933;
}

.bg_yellow {
  background: #fffbeb;
}

.bg_skin {
  background-color: #fcf1ed;
}

.pb60 {
  padding-bottom: 60px;
}

.pb40 {
  padding-bottom: 40px;
}

.pb30_all {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb15 {
  padding-bottom: 15px;
}

.pr30 {
  padding-right: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.W100 {
  width: 100%;
}

.W67 {
  width: 67%;
  display: inline-block;
}

.W80 {
  width: 80%;
  display: inline-block;
}

.W33 {
  width: 33%;
  display: inline-block;
}

.W25 {
  width: 25%;
  display: inline-block;
}

.W40 {
  width: 40%;
  display: inline-block;
}

.W50 {
  width: 50%;
  display: inline-block;
}

.W60 {
  width: 60%;
  display: inline-block;
}

.W1200 {
  width: 100%;
  position: relative;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.W960 {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.W1030 {
  width: 100%;
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.W840 {
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

.W1360 {
  width: 100%;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.red_title {
  text-align: center;
  font-size: 30px;
  color: #d70146;
}

.red_title span {
  display: block;
  font-size: 18px;
  color: #000;
}

section {
  margin-top: 80px;
}

.bread {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.bread a {
  color: #555 !important;
}

.btn {
  box-shadow: none;
  border: none;
  -webkit-appearance: none;
  filter: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  margin: 0 auto;
  padding: 16px 0;
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
}

.btn_black {
  font-size: 18px;
  line-height: 1;
  color: #d70146;
  border: 1px solid #d70146;
  padding: 16px 0;
  background: #fff;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
}

.btn_gold {
  font-size: 18px;
  line-height: 1;
  color: #cc9933;
  border: 1px solid #cc9933;
  padding: 16px 0;
  background: #fff;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
}

.store_btn {
  border: 1px solid #aaa;
  padding: 12px 10px !important;
  display: inline-block;
  line-height: 1;
}

.title {
  font-size: 25px;
  /* font-family: 'Open Sans'; */
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #d70146;
}

.sub_title {
  display: block;
  width: 100%;
  /* text-align: center; */
  font-size: 14px;
  line-height: 1;
}

.bg_red:before {
  background-color: #ee4256;
}

.bg_pink:before {
  background-color: #d70146;
}

.up_grade {
  width: 68px;
  margin-left: 7px;
  vertical-align: baseline;
}

.off_20 {
  width: 45px;
  margin-left: 12px;
  margin-top: -23px;
}

label[for="man"],
label[for="woman"] {
  line-height: 30px;
  vertical-align: top;
}

@media (max-width: 1024px) {
  [class*="columns-"] > [class*="col-"] {
    padding: 0 15px;
  }
  .f15 {
    font-size: 14px;
  }
  .f16 {
    font-size: 15px;
  }
  .f18 {
    font-size: 17px;
  }
  .f21 {
    font-size: 19px;
  }
  .f24 {
    font-size: 21px;
  }
  .f30 {
    font-size: 25px;
  }
  .f36 {
    font-size: 29px;
  }
  .f40 {
    font-size: 32px;
  }
  .f45 {
    font-size: 35px;
  }
  .f48 {
    font-size: 38px;
  }
  .f55 {
    font-size: 47px;
  }
  .f60 {
    font-size: 50px;
  }
  .f72 {
    font-size: 60px;
  }
  .title {
    font-size: 21px;
  }
}

@media (min-width: 769px) {
  /* .btn_black:hover,
    .btn:hover {
        background-color: #ff436f
    } */
  .add-button button:hover:before {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .add-button {
    width: 90%;
  }
  .pad {
    display: inline-block;
  }
  .red_title {
    font-size: 22px;
  }
  .red_title span {
    font-size: 16px;
  }
}

@media (max-width: 414px) {
  .pc {
    display: none;
  }
  .mb {
    display: inline-block;
  }
  .W50,
  .W40,
  .W60 {
    width: 100%;
  }
  .t_center_m {
    text-align: center;
  }
  section {
    margin-top: 40px;
  }
  [class*="columns-"] > [class*="col-"] {
    padding: 0 10px;
  }
  .f15 {
    font-size: 13px;
  }
  .f16 {
    font-size: 13px;
  }
  .f18 {
    font-size: 14px;
  }
  .f21 {
    font-size: 17px;
  }
  .f24 {
    font-size: 15px;
  }
  .f30 {
    font-size: 18px;
  }
  .f36 {
    font-size: 20px;
  }
  .f40 {
    font-size: 25px;
  }
  .f45 {
    font-size: 24px;
  }
  .f48 {
    font-size: 26px;
  }
  .f55 {
    font-size: 44px;
  }
  .f60 {
    font-size: 41px;
  }
  .f72 {
    font-size: 48px;
  }
  .btn {
    padding: 12px 0;
  }
  .add-button span {
    font-size: 15px;
  }
  .red_title {
    font-size: 18px;
  }
  .red_title span {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .f15 {
    font-size: 12px;
  }
  .f16 {
    font-size: 13px;
  }
  .f18 {
    font-size: 15px;
  }
  .f21 {
    font-size: 16px;
  }
  .f24 {
    font-size: 18px;
  }
  .f30 {
    font-size: 20px;
  }
  .f36 {
    font-size: 22px;
  }
  .f40 {
    font-size: 25px;
  }
  .f45 {
    font-size: 27px;
  }
  .f48 {
    font-size: 29px;
  }
  .f55 {
    font-size: 33px;
  }
  .f60 {
    font-size: 36px;
  }
  .f72 {
    font-size: 38px;
  }
}
